th.column-right_align,
td.column-right_align {
  text-align: right !important;
}

th.column-center_align,
td.column-center_align {
  text-align: center !important;
}

td.critical {
    color: #ff0000;
    font-weight: 500;
    padding: 0 20px;
//    text-align: right;
}

td.high {
    color: #ff8800;
    font-weight: 500;
    padding: 0 20px;
//    text-align: right;
}

td.medium {
    color: #ffe600;
    font-weight: 500;
    padding: 0 20px;
//    text-align: right;
}

td.low {
    color: #3c30e0;
    font-weight: 500;
    padding: 0 20px;
//    text-align: right;
}



.col1 {
    display:inline-block;  
    width: 15%;
    //padding:10px;
    padding-top: 0px; 
    padding-bottom: 10px;
    padding-left: 10px;
    margin:0px;
    margin-right:-4px;
    vertical-align:top;
    //background-color:yellow;
  }
  
.col2 {
    display:inline-block;
    width: 35%;
    //padding:10px;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin:0px;
    margin-right:-4px;
    vertical-align:top;
    //background-color:pink;
  }
.col3 {
    display:inline-block;  
    width: 15%;
    //padding:10px;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin:0px;
    margin-right:-4px;
    vertical-align:top;
    //background-color:yellow;
  }
  
.col4 {
    display:inline-block;
    width: 35%;
    //padding:10px;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin:0px;
    margin-right:-4px;
    vertical-align:top;
    //background-color:pink;
  }  