.col1 {
    display:inline-block;  
    width: 15%;
    //padding:10px;
    padding-top: 0px; 
    padding-bottom: 10px;
    padding-left: 10px;
    margin:0px;
    margin-right:-4px;
    vertical-align:top;
    //background-color:yellow;
  }
  
.col2 {
    display:inline-block;
    width: 35%;
    //padding:10px;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin:0px;
    margin-right:-4px;
    vertical-align:top;
    //background-color:pink;
  }
.col3 {
    display:inline-block;  
    width: 15%;
    //padding:10px;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin:0px;
    margin-right:-4px;
    vertical-align:top;
    //background-color:yellow;
  }
  
.col4 {
    display:inline-block;
    width: 35%;
    //padding:10px;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin:0px;
    margin-right:-4px;
    vertical-align:top;
    //background-color:pink;
  }  

