.nav {
    background-color: forestgreen !important;
    height: 50px;
    padding: 0px 20px !important;
    
}

.nav li.ant-menu-item, .ant-menu-submenu {
    height: 50px;
    padding: 0px 22px !important;
    border-bottom: none !important;
    margin:0px !important;
    top:0px !important;
    bottom:0px !important;
}

.nav li.ant-menu-item, .ant-menu-submenu .ant-menu-submenu-title span {
    color : #fff;
}

.nav li.ant-menu-item, .ant-menu-submenu .ant-menu-sub .ant-menu-item a {
    color : #333 !important;
    :hover {
        color: #111 !important;
    }
}


.nav .menuSelected {
    background-color: #fff;
    
}

.nav .menuSelected a {
    color: #fff !important;
}


.nav .menuSelected:hover {
    background-color: #fff;
    color: #fff !important;
}

.nav li a {
    color: #eee !important;
}

.xhidden {display: none;}


.nav span {
    margin: auto 12px -2px auto;
    width: 16px;
    height: 16px;
    display: inline-block;
}
.nav .icon_dashboard {
    background-image: url(../../public/img/icons/icon_dashboard.svg);
}
.nav .icon_assets {
    background-image: url(../../public/img/icons/icon_assets.svg);
}
.nav .icon_discovery {
    background-image: url(../../public/img/icons/icon_discovery.svg);
}
.nav .icon_reports {
    background-image: url(../../public/img/icons/icon_reports.svg);
}
.nav .icon_configuration {
    background-image: url(../../public/img/icons/icon_configuration.svg);
}

// .navsub {
//     height: 40px;
//     padding: 0px 20px;
// }

// .navsub li.ant-menu-item {
//     height: 40px;
// }

.submenu_profile {
    position: absolute !important;
    right: 300px !important;
    font-size: 16px;
}

.banner {
    float: right;
    width: 200px;
    height: 48px;
    background: transparent;
    font-size: 24px;
    font-weight: bold;
    font-family: arial;
    color: #fff !important;

}