.nav {
    background-color: #eee !important;
    height: 50px;
    
}

.nav li.ant-menu-item {
    height: 50px;
    padding: 0px 85px !important;
    min-width: 215px;
    border-bottom: none !important;
    margin:0px !important;
    top:0px !important;
    bottom:0px !important;
}

.nav > li a:hover {
    color: #666 !important;
}

.nav .menuSelected {
    background-color: #666;
    
}

.nav .menuSelected a {
    color: #fff !important;
}


.nav .menuSelected:hover {
    background-color: #222;
    color: #fff !important;
}

.nav li a {
    color: #cdcdcd !important;
}

.xhidden {display: none;}


.nav span {
    margin: auto 12px -2px auto;
    width: 16px;
    height: 16px;
    display: inline-block;
}
.nav .icon_dashboard {
    background-image: url(../../public/img/icons/icon_dashboard.svg);
}
.nav .icon_assets {
    background-image: url(../../public/img/icons/icon_assets.svg);
}
.nav .icon_discovery {
    background-image: url(../../public/img/icons/icon_discovery.svg);
}
.nav .icon_reports {
    background-image: url(../../public/img/icons/icon_reports.svg);
}
.nav .icon_configuration {
    background-image: url(../../public/img/icons/icon_configuration.svg);
}

.navsub {
    height: 40px;
}

.navsub li.ant-menu-item {
    height: 40px;
}

.navbanner {
    height: 35px;
    background-color: #222;
    padding: 0 142px;
    .banner {
        color: #efefef;
        font-family: arial;
        font-size: 22px;

    }
}